doctype
html
	head
		title Random Website
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="http://fonts.googleapis.com/css?family=Lato:400,100,400italic,700,900,300italic,300", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="/assets/css/main.css")
		link(rel="stylesheet", href="/assets/css/foundation.css")
		script(src="assets/js/modernizr.js")

	body

		include ./modules/header.jade

		#head
			.row.sub-head-wrap
				.large-12.columns.text-center
					#twitter.left
							em @StrongConj: Foundation Grid is Awesome
					h2.sub-head.margin-top-m.margin-down-m Welcome friendo!
					img(src="assets/img/Chrome-Browser-t.png" alt="Greetings, mobile user!")
		.row.inner.rel-posit
			.large-12.columns.text-center.margin-top-m.margin-down-m
				h2 How are things?
				h4.secondary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus placeat voluptatibus fugiat, saepe non ea vero reiciendis molestias dicta quasi adipisci explicabo, alias laudantium id nobis impedit sequi beatae incidunt.
		.triangle
		#about
			.row
				.large-3.medium-3.columns.margin-top-m.margin-down-m.text-center
					img(src="assets/svg/study.svg" alt="we study" class="icons study margin-down-s")
					h3.icon-head We research
				.large-3.medium-3.columns.margin-top-m.margin-down-m.text-center
					img(src="assets/svg/lab.svg" alt="we experiment" class="icons lab margin-down-s")
					h3.icon-head We experiment
				.large-3.medium-3.columns.margin-top-m.margin-down-m.text-center
					img(src="assets/svg/diamond.svg" alt="we perfect" class="icons diamond margin-down-s")
					h3.icon-head We perfect the results
				.large-3.medium-3.columns.margin-top-m.margin-down-m.text-center
					img(src="assets/svg/cup.svg" alt="we drink coffee" class="icons cup margin-down-s")
					h3.icon-head We drink coffee
				.row
					.large-5.medium-5.columns
						h3.about-head We are a development team from London
						p.about-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque expedita sequi, nemo voluptatem et assumenda eum tenetur quod ducimus! Facilis omnis dolorum doloremque quis maxime. Soluta et vel aliquid vero tempora! Omnis perspiciatis eveniet illo odio veritatis! Esse, voluptate accusantium.
					.large-7.medium-7.columns
						h3.about-head Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		script(src="/assets/js/functions.js")
		script(src="/assets/js/foundation.min.js")