header
	div.row
		div.large-3.small-3.columns
			h4#name.margin-top-s.no-wrap My website's the bomb in how it flows

		div.large-9.small-9.columns.margin-top-s
			nav.right
				ul.class.inline-list
					li Home
					li What do I do
					li About
					li Social
					li Contact
